{
  "rabbitmq": {
    "host": "{{ sensu_server_rabbitmq_hostname }}",
    "vhost": "{{ sensu_server_rabbitmq_vhost }}",
    "user": "{{ sensu_server_rabbitmq_user }}",
    "password": "{{ sensu_server_rabbitmq_password }}"
  }
}
